<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rise Pro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
				<key>dateExpires</key>
				<string>23/10/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>5.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A62BF4E86E0234F04C7CAA9EB0BD544C3A0EB4</string>
						<key>dateExpires</key>
						<string>23/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W8NSYQN8J</string>
						<key>name</key>
						<string>Bolla Praveen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9W8NSYQN8J.com.duae.technician</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9W8NSYQN8J</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0a25bfc-0de8-440d-b59e-46090377a657</string>
				<key>dateExpires</key>
				<string>23/10/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.duae.technician</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9W8NSYQN8J</string>
				<key>name</key>
				<string>Bolla Praveen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
