<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZnJQTJ-NXyHkswYzf5Zlu7UNdigl1lv8</string>
	<key>GCM_SENDER_ID</key>
	<string>392508898842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.wrenchmate.wrenchmateUserApp</string>
	<key>PROJECT_ID</key>
	<string>user-app-6aaf1</string>
	<key>STORAGE_BUCKET</key>
	<string>user-app-6aaf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392508898842:ios:e0b9c287d4599450c99ba3</string>
</dict>
</plist>